.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal-background {
  min-height: 550px;
  width: 340px;
  background: rgba(18, 20, 33, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(18, 20, 33, 0.3);
  position: fixed;
  top: 0;
  left: 1;
  z-index: 2;
}

.modal {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 10px 25px;
  margin-bottom: 5px;
}

.modal-body {
  color: white;
}

.modal-img {
  padding: 25px 0px 0px 0px;
  position: relative;
  left: -5px;
  img {
    width: 270px;
    height: 250px;
    object-fit: contain;
  }
}

.modal-header {
  margin: 0;
}

.modal-text {
  width: 270px;
}

.close-button {
  background: none;
  height: 35px;
  width: 35px;
  border-width: 0px;
  svg {
    color: white;
    height: 35px;
    width: 35px;
  }
}
