$primary-color: #121421;
$secondary-color: #2bb876;
$font-color: #ffffff;

.home {
  color: $font-color;
  header {
    overflow: hidden;
    margin-top: 10px;
    height: 50px;
    margin: 0px 30px 0px 30px;
    .logo {
      width: 100px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      svg {
        width: 35px;
        height: 35px;
        color: $font-color;
      }
    }
    button:active {
      svg {
        color: $secondary-color;
      }
    }
  }
  main {
    margin: 0px 30px 0px 30px;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0px;
    span {
      color: $secondary-color;
    }
  }
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  section {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 80px;
    .movie-card {
      height: 325px;
    }
    .img-box {
      height: 195px;
      img {
        width: 130px;
      }
    }
    .title-card {
      display: flex;
      flex-direction: column;
      p {
        margin: 0px;
        font-weight: lighter;
      }
      .rating {
        display: flex;
        align-items: center;
        svg {
          margin-right: 8px;
        }
        p {
          margin: 0px;
          font-weight: lighter;
        }
      }
      h4 {
        font-size: 1.25rem;
        font-weight: normal;
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
  }
}
